input {
  margin: 5px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin-top: 5px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

img {
  max-width: 100px;
  max-height: auto;
}
